BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK_clk_25mhz" SITE "G2";
IOBUF PORT "CLK_clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_clk_25mhz" 25 MHZ;

LOCATE COMP "ftdi_rxd" SITE "L4";
LOCATE COMP "ftdi_txd" SITE "M1";
IOBUF PORT "ftdi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ftdi_txd" PULLMODE=UP IO_TYPE=LVCMOS33;
